<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-libraries" data-toc-modified-id="Import-libraries-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import libraries</a></span></li><li><span><a href="#Read-raw-temperature-data" data-toc-modified-id="Read-raw-temperature-data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Read raw temperature data</a></span><ul class="toc-item"><li><span><a href="#ðŸ¥Š-Challenge:-What-is-the-average-global-land-ocean-temperature-anomaly?" data-toc-modified-id="ðŸ¥Š-Challenge:-What-is-the-average-global-land-ocean-temperature-anomaly?-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>ðŸ¥Š Challenge: What is the average global land ocean temperature anomaly?</a></span></li></ul></li><li><span><a href="#Plot-global-temperature-change" data-toc-modified-id="Plot-global-temperature-change-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Plot global temperature change</a></span><ul class="toc-item"><li><span><a href="#ðŸ¥Š-Challenge:-Can-you-plot-the-changes-in-global-CO2-emissions?" data-toc-modified-id="ðŸ¥Š-Challenge:-Can-you-plot-the-changes-in-global-CO2-emissions?-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>ðŸ¥Š Challenge: Can you plot the changes in global CO2 emissions?</a></span></li></ul></li></ul></div>

Global land and ocean temperature anomolies data.   
Download raw dataset from NOAA: https://www.ncei.noaa.gov/access/monitoring/climate-at-a-glance/global/time-series/globe/land_ocean/all/1/1850-2023

# Import libraries

In [1]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

Dataset name: Global land and ocean temperature anomolies  
Units: Degrees Celsius  
Base period: 1901-2000  
Missing value: -999

# Read raw temperature data

In [2]:
# Read the raw data for global land and ocean temperature anomolies
land_ocean_temp_raw = pd.read_csv('../data/data.csv')

# Examine the first 5 rows of the dataset
land_ocean_temp_raw.head(5)

     Year  Anomaly
0  185001    -0.38
1  185002    -0.14
2  185003    -0.24
3  185004    -0.20
4  185005    -0.20

In [3]:
# Check the data types of the columns
land_ocean_temp_raw.dtypes

Year         int64
Anomaly    float64
dtype: object

In [4]:
# Extract month and year from the 'Year' column
land_ocean_temp_raw['year'] = land_ocean_temp_raw['Year'].astype(str).str[:4]
land_ocean_temp_raw['month'] = land_ocean_temp_raw['Year'].astype(str).str[4:]
land_ocean_temp_raw.head()

     Year  Anomaly  year month
0  185001    -0.38  1850    01
1  185002    -0.14  1850    02
2  185003    -0.24  1850    03
3  185004    -0.20  1850    04
4  185005    -0.20  1850    05

In [5]:
# Create new dataframe with cleaned columns: year, month, Anomaly
land_ocean_temp_df = land_ocean_temp_raw[['year', 'month', 'Anomaly']]
land_ocean_temp_df.head()

   year month  Anomaly
0  1850    01    -0.38
1  1850    02    -0.14
2  1850    03    -0.24
3  1850    04    -0.20
4  1850    05    -0.20

## ðŸ¥Š Challenge: What is the average global land ocean temperature anomaly?

Write your code in the cell below:

In [6]:
# Your code here

In [7]:
# Calculate the average temperature anomaly by year
avg_annual_temp = land_ocean_temp_df.groupby('year')['month'].mean()
avg_annual_temp.head()

TypeError: agg function failed [how->mean,dtype->object]

In [32]:
# Reset the index of the pandas dataframe
avg_annual_temp_reset = avg_annual_temp.reset_index()
avg_annual_temp_reset.head()

NameError: name 'avg_annual_temp' is not defined

# Plot global temperature change

Now let's plot the average annual temperature change from 1850 to 2023

In [30]:
# Set the resolution and figure size
plt.figure(dpi=300, figsize=(30,15))

# Line plot with matplotlib
plt.plot(avg_annual_temp_reset.year.astype(int), avg_annual_temp_reset.Anomaly,
         marker='o', linewidth=2, color='k')

# Format the ticks for horizontal and vertical axes
plt.xticks(np.arange(1850, 2030, step=10), fontsize=20);
plt.yticks(np.arange(-0.5, 1.5, step=0.1), fontsize=20);

# Add figure title and create labels for horizontal and vertical axes
plt.xlabel('Year', fontsize=30, labelpad=10)
plt.ylabel('Temperature (Â°C)', fontsize=30, labelpad=10)
plt.title(f'Average Annual Global Land Ocean Temperature {avg_annual_temp_reset.year.astype(int).min()}-{avg_annual_temp_reset.year.astype(int).max()}', fontsize=35)

# Plot a vertical line showing the 1950 cutoff
plt.axvline(x=1950, color='r', linestyle='--', linewidth=2)

# Show grid
plt.grid(True, color='lightgrey', linestyle='--', linewidth=1, zorder=0)

NameError: name 'avg_annual_temp_reset' is not defined

## ðŸ¥Š Challenge: Can you plot the changes in global CO2 emissions?

Inside the file "ghg-emissions.csv" you will find a time series of global CO2 emissions. The data is downloaded from the World Resources Institute: https://www.wri.org/insights/history-carbon-dioxide-emissions Can you load the data, clean it and plot the changes in global CO2 emissions?

Write your code in the cell below:

In [ ]:
# Your code here